<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condition Statement Using jinja</title>
</head>
<body>
<!--    <center><h1>if condition</h1></center>
    {% if a < 100 %}
      <h3>{{a}}</h3>
    {% endif %}
-->



<!--    <center><h1>if-else condition</h1></center>    
    {% if a > 30 %}
        <h3>{{a}}</h3>
    {% else %}
        <h3></h3>
    {% endif %}
-->



    <center><h1>if-else-else condition</h1></center>
    {%  %}

</body>
</html>